@import url("https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

:root {
  --background: #f6f7f8;
  --foreground: #111418;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #101922;
    --foreground: #ffffff;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: #137fec;
  --color-primary-dark: #0f65bd;
  --color-secondary: #38bdf8;

  --color-background-light: #f6f7f8;
  --color-background-dark: #101922;

  --color-surface-light: #ffffff;
  --color-surface-dark: #1e293b;

  --color-accent-teal: #14b8a6;

  --font-sans: "Spline Sans", sans-serif;
  --font-display: "Spline Sans", sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
